# Telegram
TELEGRAM_BOT_TOKEN=ваш_токен_бота
ADMIN_USER_ID=ваш_user_id
USERS_IDS=[все_user_ids_которые_получат_уведомление]

# Google Sheets
GOOGLE_SHEETS_CREDENTIALS=credentials.json
SPREADSHEET_ID=id_вашей_таблицы
SHEET_NAME=Sheet1  # или другое название листа
MONITOR_CELL=C1

# Столбцы (настройка)
DATE_COLUMN=B
PAIN_COLUMN=C
MEDICATION_COLUMN=D

# Настройки
CHECK_INTERVAL=10  # секунд между проверками
LOG_LEVEL=INFO     # DEBUG/INFO/WARNING/ERROR


# Настройка подключения к БД
DB_USER = пользователь бд
DB_PASSWORD = пароль бд
DB_HOST = "localhost"
DB_PORT = порт бд / 5432
DB_NAME = имя бд

# Строка подключения
DATABASE_URL = f"postgresql+asyncpg://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"